@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

/* Round Message Highlight */
.message-2qnXI6, .mentioned-xhSam7 {
    border-radius: 0 24px 24px 0px;
    margin-right: 20px
}

/* Bettter Voice Connected */
.ping-2NgC8E {
    transform: scale(1.7);
    margin-left: 5px;
    margin-top: 11px;
    margin-bottom: 0;
    height: 20px;
}

.channel-1TmDQ6 {
    margin-left: 30px;
    margin-top: -9px;
}

.rtcConnectionStatusConnected-VRZDjy {
    margin-left: 5px;
}

/* Mac Buttons */
.winButton-iRh8-Z svg {
    top: 10px;
}
.notice-2FJMB4, .notice-1tZwqv {
    z-index: 1000;
}
.winButton-iRh8-Z > svg {
   display: none;
}
.winButton-iRh8-Z:hover {
   background-color: var(--background-teritary);
}
.winButton-iRh8-Z {
   pointer-events: none;
   margin-left: -3px;
}
.winButton-iRh8-Z::after {
   content: "";
   padding: 7px;
   border-radius: 50px;
   pointer-events: fill;
}
.winButtonClose-1HsbF- {
   margin-right: 3px;
}
.winButtonClose-1HsbF-::after {
   background-color: #FF605C;
}
.winButtonClose-1HsbF-:hover::after {
   background-color: rgba(255, 96, 92, 0.5);
}
.winButtonMinMax-PBQ2gm[aria-label="Maximize"]::after {
   background-color: #FFBD44;
}
.winButtonMinMax-PBQ2gm[aria-label="Maximize"]:hover::after {
   background-color: rgba(255, 189, 68, 0.5);
}
.winButtonMinMax-PBQ2gm[aria-label="Minimize"]::after {
   background-color: #00CA4E;
}
.winButtonMinMax-PBQ2gm[aria-label="Minimize"]:hover::after {
   background-color: rgba(0, 202, 78, 0.5);
}
  
/* Smooth Banner Transition */
.bannerImage-1jOskm:before
{
    background: linear-gradient(0deg,var(--background-secondary) 3%,transparent 66%, rgba(0,0,0,0.5) 100%);
    height: 100%;
}
.animatedContainer-1pJv5C
{
    box-shadow: none !important;
}
.wrapper-3EGhDO {
    background-color: var(--background-secondary);
    border-radius: 25px;
    padding: 0px;
}

.colorable-1bkp8v.white-3GPOIp, .colorable-1bkp8v.white-3GPOIp .centerIcon-2G6o-T {
    color: currentColor;
}

.colorable-1bkp8v.primary-3NQg8g,
.colorable-1bkp8v.primary-3NQg8g.active-1QRrIS, .colorable-1bkp8v.primary-3NQg8g:hover, 
.colorable-1bkp8v.white-3GPOIp,
.centerButton-3CaNcJ,
.colorable-1bkp8v.white-3GPOIp.active-1QRrIS, .colorable-1bkp8v.white-3GPOIp:hover,
.colorable-1bkp8v.red-33-Lnk {
    background: none !important;
}

div[class="flex-1xMQg5 flex-1O1GKY horizontal-1ae9ci horizontal-2EEEnY flex-1O1GKY directionRow-3v3tfG justifyCenter-3D2jYp alignCenter-1dQNNs noWrap-3jynv6"][style="flex: 1 1 auto;"]{
  background-color: var(--background-secondary);
  border-radius: 30px;
}

/* Better Bot Tag */
.botTagRegular-2HEhHi {
    background: rgba(114,137,218,0.1);
    color: #7289da;
}
.botTagRegular-2HEhHi:hover {
    background: #7289da;
    color: #fff;
}
.botTag-2WPJ74 {
    border-radius: 20px !important;
}
 
  top: 5px;
  padding-left: -3px;
  font-family: "Discord";
}
.wordmark-2iDDfm > svg{
  width: 0px;
}

/* Spotify Looking Spotify Modal */
.powercord-spotify img{border-radius:0!important}
.powercord-spotify .spotify-seek-bar{height:4px!important;border-radius:2px!important;margin-left:15px!important;margin-right:15px!important;background:#404040!important}
.powercord-spotify .spotify-seek-bar-progress{background:#b3b3b3!important;border-radius:42px!important}
.powercord-spotify .container-3baos1{background-color:transparent!important}
.powercord-spotify .container-3baos1 .nameTag-3uD-yy .title-eS5yk3{color:#fff!important}
.powercord-spotify .container-3baos1 .nameTag-3uD-yy .subtext-3CDbHg{color:#b3b3b3!important;overflow-x:hidden!important;text-indent:-15px!important}
.powercord-spotify .spotify-buttons button{background:0 0!important;}
.powercord-spotify .spotify-seek-elements,.powercord-spotify.hover .spotify-seek-elements{color:#b3b3b3!important;font-size:70%!important;margin-top:3px!important;margin-left:10px!important;margin-right:10px!important}
.powercord-spotify .horizontal-1ae9ci *{width:0!important;overflow:hidden!important;opacity:0!important;display:none!important}
.powercord-spotify:hover .horizontal-1ae9ci *{width:32px!important;overflow:visible!important;opacity:1!important;display:block!important}
 

/* Better roles */
.role-2irmRk {
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: none;
  padding: 5px;
}
.roleCircle-3xAZ1j::before {
  content: '';
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  background: inherit;
  opacity: .2;
  z-index: -1;
  pointer-events: none;
}
.footer-1fjuF6 {
  border-top: none;

}/* Better Blocked Messages */
.blockedMessageText-1fRjos:before {
   content: "";
   background: var(--background-secondary);
   border-radius: 10px;
   padding: 3px 0 3px 377px;
   margin: 0 -310px 0 -64px;
}

.groupStart-23k01U.expanded-13sWhZ > div > div > div > .content-2M3n_H  > div:before {
   padding-bottom: 0;
   border-radius: 10px 10px 0 0;
}
.blockedIcon-IrnkVA > path {
   fill: #F04747;
}

.groupStart-23k01U.expanded-13sWhZ {
   background: var(--background-primary);
   border-radius: 0px !important;
}
.groupStart-23k01U.expanded-13sWhZ > .message-2qnXI6 {
   background: var(--background-secondary);
   padding: 8px 0 8px 72px;
   margin: -5px 4px 0 8px;
   border-radius: 0px 10px 10px 10px;
}
.groupStart-23k01U.expanded-13sWhZ > div > div > div > .content-2M3n_H  > div:hover:before {
   background: var(--background-secondary);
}
.groupStart-23k01U.expanded-13sWhZ > .message-2qnXI6:hover,
.blockedMessageText-1fRjos:hover:before {
   background: var(--background-tertiary);
}

.blockedIcon-IrnkVA {
   margin-top: -2px;
}

.groupStart-23k01U.expanded-13sWhZ > .message-2qnXI6 > div,
.groupStart-23k01U.expanded-13sWhZ > .message-2qnXI6 > div > .avatar-1BDn8e {
   margin-left: -8px;
}
.groupStart-23k01U.expanded-13sWhZ > .message-2qnXI6 > .buttonContainer-DHceWr {
   margin-right: -3px;
}

/* Discord Menu Icon*/
.button-1w5pas {
    background: url('https://raw.githack.com/CorellanStoma/Powercord/assets/Icons/menu.svg');
    width: 18px;
    height: 18px;
    position: relative;
    opacity: 1;
    top: 0px;
  }
  .button-1w5pas path {
    display: none;
  }
  .button-1w5pas.open-1Te94t {
    transform: none;
}

/* Mobile Unread Messages Bar */
#---new-messages-bar {margin: 0.5px 20px;top: 0;height: 22px;border-top: 0}
#---new-messages-bar .content-1o0f9g {font-size: 14px;font-weight: 500;padding: 0 8px;background-color: var(--background-primary);border-radius: 0}
#---new-messages-bar span::before {content: "";position: absolute;width: 100%;top: 50%;left: 0;border-bottom: thin solid;border-color: var(--background-modifier-accent);background-color: #f04747;z-index: -1;opacity: 0.3 !important}
#---new-messages-bar .content-1o0f9g::after {border-color: currentColor;opacity: 0.7}
#---new-messages-bar .content-1o0f9g + .unreadPill-2HyYtt::after {display: none}
#---new-messages-bar .unreadPill-2HyYtt {
position: initial;height: 100%;
top: 0;color: #f04747;font-weight: 600;
padding: 0 8px;background-color: var(--background-primary);font-size: 0}
#---new-messages-bar .unreadPill-2HyYtt::after {
font-size: 14px;content: "NEW MESSAGES";margin-bottom: -2px}
#---new-messages-bar > span::before {border-color: currentColor;opacity: 0.7}
#---new-messages-bar .unreadPill-2HyYtt svg {display: none}
 
 
 
/* Better Feedback Emojis */
.emojiHappy-1hbF93 {
  background-image: url("/assets/da3651e59d6006dfa5fa07ec3102d1f3.svg");
}
.emojiNeutral-14asfM {
  background-image: url("/assets/fa9b378aed10bba1aea54ca34e76fe4b.svg");
}
.emojiSad-1GqgAQ {
  background-image: url("/assets/9dc0c15c9e35f7ba86150ae12e895d29.svg");
}


/* Better QuickCSS Zoom */
.powercord-quickcss{
    --editor-height: 40vw !important;
  }
  .CodeMirror-code {
    font-size: 1.1rem; 
  }

/* Better RTC Connection popout */
.layerContainer-yqaFcK .layer-v9HyYc[style*="position: absolute; left: 100px;"] {
    left: 72px !important;
}
.container-2x5lvQ {
    width: 240px;
    box-shadow: none;
}
.layerContainer-yqaFcK .layer-v9HyYc[style*="position: absolute; left: 100px;"] .container-2x5lvQ header {
    background-color: var(--toast-header);
}
.layerContainer-yqaFcK .layer-v9HyYc[style*="position: absolute; left: 100px;"] .container-2x5lvQ section {
    background-color: var(--deprecated-panel-background);
}
.container-2x5lvQ section p:nth-of-type(1) {
    font-size: 0;
}
.container-2x5lvQ section p:nth-of-type(2) {
    display: none;
}
.container-2x5lvQ section strong {
    font-size: 14px;
    white-space: pre;
}
.container-2x5lvQ section strong::before {
    font-weight: normal;
}
.container-2x5lvQ section strong:nth-of-type(1)::before {
    content: 'Server: ';
}
.container-2x5lvQ section strong:nth-of-type(2)::before {
    content: 'Average Ping: ';
}
.container-2x5lvQ section strong:nth-of-type(3)::before {
    content: 'Last Ping: ';
}
.container-2x5lvQ section strong:nth-of-type(4)::before {
    content: 'Packet Loss: ';
}


/* Separate Channels And Messages */
.sidebar-2K8pFh, .chat-3bRxxu, .container-3Mxszk, .container-1D34oG, .applicationStore-1pNvnv {
    border-radius: 15px 15px 0 0 !important
 }
  
 .chat-3bRxxu, .container-1D34oG, .container-3Mxszk, .applicationStore-1pNvnv {
    position: relative;
    left: 5px;
    padding-right: 5px
 }

 /* Better Spacing in Server Emoji Upload */
.emojiUploader-1f0pVx,
div[class*="flex-1xMQg5 flex-1O1GKY horizontal-1ae9ci horizontal-2EEEnY flex-1O1GKY directionRow-3v3tfG justifyStart-2NDFzi alignStretch-DpGPf3 noWrap-3jynv6 marginBottom4-2qk4Hy"] {
	display: none;
}

.emojiRow-zIc7ZX {
	display: inline-flex;
	margin-right: 50px;
}

/*Compact Status Menu*/
.status-1fhblQ,
.description-2L932D {
	display: none;
}
.separator-2I32lJ {
	display: none;
}
.mask-1qbNWk.icon-1IxfJ2 {
	--status-icon-size: 75%;
	height: var(--status-icon-size);
	width: var(--status-icon-size);
	margin-left: 33%;
}
.animatorTop-2Y7x2r.scale-3iLZhb.didRender-33z1u8
	> .menu-3sdvDG.styleFixed-sX-yHV
	> .scroller-3BxosC.thin-1ybCId.scrollerBase-289Jih {
	display: grid;
	align-items: center;
	grid-template-columns: auto auto auto auto;
	visibility: visible;
}
.item-1tOPte.colorDefault-2K3EoJ:nth-of-type(7) {
	grid-column: 1/5;
}
.animatorTop-2Y7x2r.scale-3iLZhb.didRender-33z1u8 {
	transition: opacity 0.15s linear 0s;
}
.customText-tY5LJn {
	font-size: 15px;
}

/* Separate Channels and Messages */
.chat-3bRxxu > .title-3qD0b- {
	background-color: var(--background-secondary) !important;
}

/* Enlarge Emoji in emoji details popout */
.emojiSection-3Fb9ix > .noWrap-3jynv6 {
	flex-wrap: wrap;
}
.emojiSection-3Fb9ix img ~ div {
	margin-left: 0 !important;
	margin-top: 10px !important;
}
.emojiSection-3Fb9ix img {
	margin: auto;
	width: 100% !important;
	height: auto !important;
}

/*Profile Modal*/
.headerPlaying-j0WQBV, .topSectionPlaying-1J5E4n {
    z-index: 1 !important;
    background-image: url(https://cdn.naila.bot/Discord/playing-background.svg),linear-gradient(to top right,#7289DA,#7289DA) !important;
 }
 
 
 .headerSpotify-zpWxgT, .topSectionSpotify-1lI0-P {
    z-index: 1 !important;
    background-image: url(https://cdn.naila.bot/Discord/playing-background.svg),linear-gradient(to top right,#1DB954,#1DB954) !important;
 }

 /* Custom Code Font */
code, .codeLine-14BKbG { 
    font-family: 'Fira Code', monospace; 
  }