/* Remove Annoying Buttons */

/* Help */
a[href="https://support.discord.com"] {
	display: none !important;
}

[aria-label="Member List"],
[aria-label="Inbox"] {
	display: none;
}

/* Remove Nitro Gift Button */
.button-38aScr[aria-label="Send a gift"] {
  display: none;
}

/* Remove Gif Picker */
.button-38aScr[aria-label="Open GIF picker"] {
  display: none;
}

/* Remove Porkord Badge */
.powercord-badge {
	display: none !important;
}

/* Remove Speak Message Option */
.item-1tOPte {
	margin: 0;
}
#message-actions-tts,
#message-tts {
	display: none;
}

/* Remove Profile Notes in Big Modal */
.userInfoSection-2acyCx + .userInfoSection-2acyCx {
	border: 0px;
}
div.userInfoSection-2acyCx {
	padding: 10px 0px;
}
.userInfoSectionHeader-CBvMDh {
	display: none;
}
.note-QfFU8y {
	display: none;
}

/* Hide Textbox when you don't have permission */
.channelTextAreaDisabled-8rmlrp > div {
	display: none !important;
}

/* Remove Button Outlines */
.lookOutlined-3sRXeN {
	border: None !important;
	border-radius: 5px !important;
}

/* Remove "Welcome to #channel" at Begining of New Channels*/
.hasDivider-20M1le {
	display: none;
}

.container-3zqIcM {
	display: none;
}

/** Hide the 'Not seeing controls?' icon **/
/*Removed for premium*/

/* No Nitro Button */
.channel-2QD9_O[href="/store"] {
	display: none;
}

/* No Gift Nitro or Gif Button */
.button-38aScr[aria-label="Send a gift"] {
  display: none;
}

.button-38aScr[aria-label="Open GIF picker"] {
  display: none;
}
