/* Import Everything */
@import url("https://raw.githack.com/Chromus-dev/Minimalcord/master/import.css");

/* Minimalcord Watermark Text */
.wordmark-2iDDfm:after {
	content: "MINIMALCORD";
	font-size: 15px;
	font-weight: 700;
	position: absolute;
	width: 4000px;
	top: 5px;
	padding-left: -3px;
	font-family: "Discord";
}

.wordmark-2iDDfm > svg {
	width: 0px;
}

/* Add icon to watermark */
/*
.wordmark-2iDDfm {
	left: 25px;
}
.wordmark-2iDDfm:before {
	content: '';
	position: absolute;
	height: 100%;
	width: 50px;
	bottom: 0;
	right: 0;
	background: url(https://cdn.discordapp.com/attachments/751919562605461630/763069425644863550/discordOutlineWatermarkGray.png)
		center/20px no-repeat;
}
*/
/* Show Version Of Theme You Are Using */
div[aria-label="USER_SETTINGS"] .info-1VyQPT:last-child > div:last-child::after {
	content: "Minimalcord v1.0";
	display: block;
}
