.theme-dark,
.theme-light,
:root {
    /* Background */
    /*
    --Color002: #33393D;
    --Color003: #262A2D;
    --Color004: #202427;
    --Color005: #1A1D20;
    
/* Text */	
    /*
    --Color006: #FFFFFF;
    --Color007: #DCDDDE;
    --Color008: #b9bbbe;
    --Color009: #4F5459;

/* Mention */
    --Mention: 232, 69, 69;
    
/* Shadow */

    --shadow001: 0px 8px 12px 4px #00000040;

/* Radius */

    --Radius001: 24px; /* The value should not exceed 24px. */
    --Radius002: 90px; /* The value should not exceed 90px. */
    
/* Verification */
    
     --Verification: 67, 181, 129;

/* Burble Recolor */
/*
    --accentcolor: 4,216,105;
    --linkcolor: 4,216,105;
*/
    
/* Win 10 Title Bar*/
/*
    --titlebar-height: 30px;
    --titlebar-drag-margin: 4px;
    --titlebar-button-width: 48px;
    --titlebar-font-size: 12px;
    --titlebar-icon-font-size: 12px;
    --titlebar-background-color: var(--Color005);
    --titlebar-text-color: var(--Color007);
    --titlebar-button-hover: var(--Color003);
    --titlebar-button-active: var(--Color003);
    --titlebar-close-button-hover: var(--Color001);
    --titlebar-close-button-active: var(--Color001);
*/
    /* Vars */
/*
    --background-primary: var(--Color004);
    --background-secondary: var(--Color005);
    --background-secondary-alt: var(--Color002);
    --background-tertiary: var(--Color005);
    --background-accent: var(--Color001);
    --background-floating: var(--Color005);
    --background-modifier-hover: var(--Color004);
    --background-modifier-active: var(--Color004);
    --background-modifier-selected: var(--Color001);
    --background-modifier-accent: var(--Color002);
    --channeltextarea-background: var(--Color001);
    --deprecated-card-bg: var(--Color004);
    --deprecated-card-editable-bg: var(--Color004);
    --deprecated-text-input-bg: var(--Color005);
    --deprecated-text-input-border: var(--Color005);
    --deprecated-text-input-border-disabled: var(--Color005);
    --activity-card-background: var(--Color004);
    --channels-default: var(--Color004);
    --text-muted: var(--Color009);
    --text-normal: var(--Color006); 
    --interactive-normal: var(--Color008);
    --interactive-hover: var(--Color006);
    --interactive-active: var(--Color006);
    --interactive-muted: var(--Color009);
    --header-primary: var(--Color006);
    --toast-background: var(--Color006);
    --toast-header: var(--Color005);
    --toast-contents: var(--Color006);
    --toast-box-shadow: rgba(0, 0, 0, .2);
    --toast-border: var(--Color005);
    --activity-card-background: var(--Color004);
    --header-secondary: var(--Color008);
    --channel-list: var(--Color003);
    --offline-color: var(--Color004);
    --text-normal: var(--Color007); 
    --text-muted: var(--Color009);
    --channels-default: var(--Color008);
}

/* Mention Colored Mention */
.mentioned-xhSam7:before {
    background: rgba(var(--Mention), 1);
}
.mentioned-xhSam7 {
    background: rgba(var(--Mention), 0.1);
    border-radius: 0 24px 24px 0px;
    margin-right: 20px
}

/* Uniform Server Partner Badges */
svg[aria-label="Discord Partner"] {
    color: rgba(var(--Verification)) !important;
}

/* Custom Code Font */
code, .codeLine-14BKbG { 
    font-family: 'Fira Code', monospace; 
  }

  /* Custom Home Icon */
  .listItem-2P_4kh:nth-child(1) .listItemWrapper-3X98Pc .wrapper-25eVIn svg foreignObject .wrapper-1BJsBx .childWrapper-anI2G9 .homeIcon-tEMBK1 {
    background: url("https://cdn.discordapp.com/attachments/751919562605461630/752200585670951023/house-user.png"); /* image url */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    margin-top: -2px;
  }
  
  .homeIcon-tEMBK1 path {
    fill: transparent;
  }

  /* Minimal Status Picker */
  .menu-3sdvDG .description-2L932D,
.menu-3sdvDG .separator-2I32lJ  {
  display: none;
}

/* Notes Height Fix */
.note-QfFU8y textarea,
.note-3HfJZ5 textarea  {
   height: 25px !important;
}

 /*Profile Modal*/
 .headerPlaying-j0WQBV, .topSectionPlaying-1J5E4n {
   z-index: 1;
   background-image: url(https://cdn.naila.bot/Discord/playing-background.svg),linear-gradient(to top right,#60adff,#4453fc);
}


.headerSpotify-zpWxgT, .topSectionSpotify-1lI0-P {
   z-index: 1;
   background-image: url(https://cdn.naila.bot/Discord/playing-background.svg),linear-gradient(to top right,#1db954,#44fc9d);
}
